<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}TestSynfo{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <form>
            Decimal:
            <input type="text" name="firstname"><br>
            Binary:
            <input type="text" name="lastname"><br>
            Hexa:
            <input type="text" name="lastname"><br>
            <input type="submit">
          </form> 

    </body>
</html>
